.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    backdrop-filter: blur(20px);
    width: fit-content;
    margin: 0 auto;
}
.item, .next, .previous {
    padding: 8px 0;
    cursor: pointer;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-left: none;
}
.next {
    border-radius: 0 5px 5px 0;
}
.previous {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 0 5px;
}
.item:hover, .next:hover, .previous:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.active {
    background-color: rgba(0, 0, 0, 0.5);
}
.link {
    padding: 8px 15px;
}

