.title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 1000;
    font-style: italic;
}
.text {
    font-size: 1.2rem;
}
.list {
    backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid #00000029;
}
.li {
    min-height: 2.5rem;
    padding: 10px;
    padding-left: 20px;
}
