.gridContainer {
    backdrop-filter: blur(20px);
    margin: 0 30px;
    padding: 20px;
    border-left: 1px solid #00000029;
    border-right: 1px solid #00000029;
    border-bottom: 1px solid #00000029;
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.gridItemContainer {
    border-radius: 10%;
}

.iframe {
    border-radius: 2.2rem;
}

@media (max-width: 480px) {
    .gridContainer{
        margin: 0 5px;
    }
}