.reviewContainer {
    backdrop-filter: blur(20px);
    margin: 0 30px;
    border-left: 1px solid #00000029;
    border-right: 1px solid #00000029;
}
.li {
    border-bottom: 1px solid #00000029;
    padding: 20px;
}

.li:last-of-type, .reviewContainer {
    border-bottom-right-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.reviewHeadContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.reviewData {
    display: flex;
    gap: 20px;
}

.reviewData h3 {
    font-size: 23px;
    font-weight: 600;
}

.reviewCreatedAt {
    font-weight: 100;
    font-style: italic;
    font-size: 15px;
}

.rating {
    font-size: 27px;
}