@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
  --text-color: #e5ded4;
}

html body {
  background-color: rgba(11, 11, 11, 0.96);
  background-image: url('/src/assets/bg_lg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--text-color);
  margin: 0;
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 /* MUI Nav */
.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed {
  background-color: rgba(0, 0, 0, 0.5); 
}

@media (max-width: 600px) {
  .MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionFixed.mui-fixed {
      backdrop-filter: blur(20px);
      background-color: rgba(0, 0, 0, 0.5);  
  }
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation16.MuiDrawer-paper.MuiDrawer-paperAnchorLeft {
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--text-color);
  backdrop-filter: blur(20px);
}

h6.MuiTypography-root.MuiTypography-h6, div.MuiTypography-root.MuiTypography-h6 {
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 35px;
  font-weight: 800;
}

span.MuiTypography-root.MuiTypography-body1.MuiListItemText-primary, button.MuiButtonBase-root.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium {
  font-family: 'Ysabeau Infant', sans-serif;
  font-size: 24px;
  font-weight: 400;
}


/* MUI Tabs */
a.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.MuiTab-fullWidth.Mui-selected {
  color: rgba(255, 255, 255, 0.988);
  font-weight: 800;
}

span.MuiTabs-indicator {
  background-color:#00000088;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
